<div class='nested-fields'>
  <div class="row">
    <div class="col-md-11"><%= f.input :exercise_name, :label => 'Exercise' %></div>
    <div class="col-md-1"><%= link_to_remove_association "x", f %></div>
    <div class="col-md-3"><%= f.input :sets, :label => 'Sets', input_html: { value: 0 } %></div>
    <div class="col-md-3"><%= f.input :reps, :label => 'Reps', input_html: { value: 0 } %></div>
    <div class="col-md-3"><%= f.input :weight, :label => 'Weight', input_html: { value: 0 } %></div>
    <div class="col-md-3"><%= f.input :exercise_time, :label => 'Time', input_html: { value: 0 } %></div>
  </div>
</div>
