<div class='nested-fields'>
  <%= f.inputs do %>
    <%= f.input :exercise_name, :label => 'Exercise' %>
    <%= f.input :sets, :label => 'Sets' %>
    <%= f.input :reps, :label => 'Reps' %>
    <%= f.input :weight, :label => 'Weight' %>
    <%= f.input :exercise_time, :label => 'Time' %>
    <%= link_to_remove_association "x", f %>
  <% end %>
</div>
