<div class='nested-fields'>
  <table>
  <tbody>
    <tr>
      <td>
        <%= f.text_field :exercise_name, class:'form-control' %>
      </td>
      <td>
        <%= f.text_field :sets, class:'form-control' %>
      </td>
      <td>
        <%= f.text_field :reps, class:'form-control' %>
      </td>
      <td>
        <%= f.text_field :weight, class:'form-control' %>
      </td>
      <td>
        <%= f.text_field :exercise_time, class:'form-control' %>
      </td>
      <td>
        <%= link_to_remove_association "x", f %>
      </td>
    </tr>
  </tbody>
</table>
</div>
