<%= form_for(@workout_session) do |f| %>
  <ul>
  <% @workout_session.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

    <!--  <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Main Workout Focus <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Cardio</a></li>
            <li><a href="#">HIIT</a></li>
            <li><a href="#">Circuit</a></li>
            <li><a href="#">Lower Body</a></li>
            <li><a href="#">Upper Body</a></li>
          </ul>
        </div> -->
    <div class="row">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-2 control-label">Workout Focus:</label>
            <div class="col-lg-8">
              <%= f.text_field :workout_focus, class:'form-control pull-right', placeholder: "Main Focus" %>
            </div>
          </div>
          <br><hr>
        </form>

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <form class="form-horizontal">
              <div class="form-group">
                <label class="col-lg-2 pull-left control-label">Exercise:</label>
                <div class="col-lg-3">
                  <%= f.text_field :exercises, class:'form-control pull-right' %>
                </div><br>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">Sets:</label>
                <div class="col-lg-3">
                  <%= f.text_field :sets, class:'form-control pull-right' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 pull-left control-label">Repetitions:</label>
                <div class="col-lg-3">
                  <%= f.text_field :reps, class:'form-control pull-right' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">Weight:</label>
                <div class="col-lg-3">
                  <%= f.text_field :weight, class:'form-control pull-right' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">Exercise Weight:</label>
                <div class="col-lg-3">
                  <%= f.text_field :exercise_time, class:'form-control pull-right' %>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-2 pull-right">
            <div class="well">Added Exercises</div>
          </div>


      </div>

      <hr>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-2 control-label">Workout Time</label>
          <div class="col-lg-3">
            <%= f.text_field :workout_time, class:'form-control pull-right' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Workout Intensity</label>
          <div class="col-lg-3">
            <%= f.text_field :workout_intensity, class:'form-control pull-right' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Workout Notes</label>
          <div class="col-lg-3">
            <%= f.text_field :workout_notes, class:'form-control pull-right' %>
          </div>
        </div>
    </form>

    </div>

  <center>
    <%= f.submit :Submit, class:'btn btn-success' %>
  </center>
<% end %>
