<%= form_for(@workout_session) do |f| %>
  <ul>
  <% @workout_session.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

    <!--  To be included for dynamic content:
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Main Workout Focus <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Cardio</a></li>
            <li><a href="#">HIIT</a></li>
            <li><a href="#">Circuit</a></li>
            <li><a href="#">Lower Body</a></li>
            <li><a href="#">Upper Body</a></li>
          </ul>
        </div> -->

    <!--Header Workout Information -->
    <div class="row">
      <div class="form-group">
        <label class="col-lg-1 control-label">Workout Focus:</label>
        <div class="col-lg-9">
          <%= f.text_field :workout_focus, class:'form-control pull-right', placeholder: "Main Focus" %>
        </div>
      </div>
      <br><hr>
    </div>

    <!-- Exercises -->
    <div class="row">
      <div class="col-md-10">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Exercise</th>
              <th>Sets</th>
              <th>Repetitions</th>
              <th>Weight</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :exercises do |builder| %>
              <tr>
                <td>
                  <%= builder.text_field :exercise_name, class:'form-control pull-right' %>
                </td>
                <td>
                  <%= builder.text_field :sets, class:'form-control pull-right' %>
                </td>
                <td>
                  <%= builder.text_field :reps, class:'form-control pull-right' %>
                </td>
                <td>
                  <%= builder.text_field :weight, class:'form-control pull-right' %>
                </td>
                <td>
                  <%= builder.text_field :exercise_time, class:'form-control pull-right' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label class="col-lg-2 control-label">Workout Time:</label>
          <div class="col-lg-3">
            <%= f.text_field :workout_time, class:'form-control pull-right' %>
          </div><br>
        </div><br>

        <div class="form-group">
          <label class="col-lg-2 control-label">Workout Intensity:</label>
          <div class="col-lg-3">
            <%= f.text_field :workout_intensity, class:'form-control pull-right' %>
          </div><br>
        </div><br>

        <div class="form-group">
          <label class="col-lg-2 control-label">Workout Notes:</label>
          <div class="col-lg-3">
            <%= f.text_field :workout_notes, class:'form-control pull-right' %>
          </div>
        </div><br>
      </div>
    </div>

  <center>
    <%= f.submit 'Submit', class:'btn btn-success' %>
  </center>
<% end %>
