<%= simple_form_for @workout_session do |f| %>

    <!--  To be included for dynamic content:
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Main Workout Focus <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Cardio</a></li>
            <li><a href="#">HIIT</a></li>
            <li><a href="#">Circuit</a></li>
            <li><a href="#">Lower Body</a></li>
            <li><a href="#">Upper Body</a></li>
          </ul>
        </div> -->

    <!--Overall Workout Information -->
    <div class="row">
      <div class="col-md-4">
        <h3 class="lead">Overall Workout Information</h3>
        <%= f.input :completed_date, :as => :date_picker, :label => 'Completed', input_html: { value: Time.now.strftime("%d/%m/%Y") } %>
        <%= f.input :workout_type, :label => "Type" %>
        <%= f.input :workout_focus, :label => "Focus" %>
        <%= f.input :workout_time, :label => "Overall Time"%>
        <%= f.input :workout_intensity, :label => "Intensity" %>
        <%= f.input :workout_notes, :label => "Notes" %>
      </div>

    <!-- Exercises -->
      <div class="col-md-8">
        <h3 class="lead">Add Exercise</h3>
          <div id='exercises'>
            <%= f.simple_fields_for :exercises do |exercise| %>
              <%= render 'exercise_fields', :f => exercise %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'add', f, :exercises %>
            </div>
          </div>
      </div>
    </div>


  <center>
      <%= f.submit 'Save', {:class => 'btn btn-primary'} %>
      <%= link_to "Cancel", :back, {:class=>"btn "} %>
  </center>
  <hr>
<% end %>
