<h2 class="lead"><b>Workout Satistics</b></h2>
<ul>
  <li>Average Workout Time</li>
  <li>Last Workout Focus</li>
  <li>Personal Records</li>
</ul>

<hr>


<h2 class="lead"><b>Past Workouts</b></h2>
<div class="row-fluid">
  <% @workout_sessions.each do |workout_session| %>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= link_to "Workout Focus: " + workout_session.workout_focus, workout_session_path(workout_session), class: "btn btn-block btn-md" %>
        </div>
        <div class="panel-body">
          <p>
            <b>Type of Workout:</b> <%=  %><br>
            <b>Workout Time:</b> <%= workout_session.workout_time %><br>
            <b>Workout Intensity:</b> <%= workout_session.workout_intensity %><br>
            <b>Completed:</b> <%=  %>
          </p>
          <div class="row">
            <div class="col-md-2">
              <%= link_to "Edit", edit_workout_session_path(workout_session), class:'btn btn-success' %>
            </div>
            <div class="col-md-3 col-md-offset-7">
              <%= link_to "Delete", workout_session_path(workout_session), method: :delete, data: {confirm: "really delete this session?"}, class:'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>


  <% end %>
</div>
