  <h1>Workout on <%= @workout_session.workout_focus %></h1>

  <div class="row">
    <div class="col-md-10 ">
      <h2>Type of workout: <%= @workout_session.workout_type %></h2>
      <h3>Completed on <%= @workout_session.completed_date %></h3>
      <blockquote>
          <p><strong>Workout Time:</strong> <%= @workout_session.workout_time %><br>
            <strong>Workout Intensity:</strong> <%= @workout_session.workout_intensity %><br>
          <hr>
        <p><strong>Wokout Notes:</strong> <%= @workout_session.workout_notes %><br></p>
        <hr>

        <div class="row">
            <% @exercises.each do |e| %>
            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <p>
                    <b>Exercise:</b> <%= e.exercise_name %><br>
                    Number of Sets: <%= e.sets %><br>
                    Number of Reps: <%= e.reps %><br>
                    Weight: <%= e.weight %><br>
                    Time: <%= e.exercise_time %><br>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </blockquote>

    </div>
    <div class="col-md-2">
      <%= link_to "Edit", edit_workout_session_path(@workout_session), class:'btn btn-primary' %>
      <%= link_to "Delete", workout_session_path(@workout_session), method: :delete, data: {confirm: "really delete this session?"}, class:'btn btn-danger' %>
    </div>
  </div>
