<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- TODO enable search form for searching for exercises-->
    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form> -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">GET IT DONE</li>
      <li class="<%= active_class(workout_sessions_path) %>">
        <%= link_to workout_sessions_path do %>
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        <% end %>
      </li>
      <li class="<%= active_class(new_workout_session_path) %>">
        <%= link_to new_workout_session_path do %>
          <i class="fa fa-plus-circle"></i> <span>Add Workout</span>
        <% end %>
      </li>
      <li class="<%= active_class(reports_path) %>">
        <%= link_to reports_path  do %>
          <i class="fa fa-gear"></i> <span>Reports</span>
        <% end %>
      </li>
      <li class="<%= active_class(news_path) %>">
        <%= link_to news_path do %>
          <i class="fa fa-flag-o"></i> <span>Upcoming Features</span>
        <% end %>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
