<!DOCTYPE html>
<html>
  <head>
    <title>fitrep</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="btn btn-default navbar-btn">
            <i class="fa fa-bolt" aria-hidden="true"></i> <%= link_to "   fitrep", root_path %>
          </button>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <button class="btn btn-default navbar-btn">
            <a href="https://github.com/foxiae/fitrep"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a>
          </button>
        </ul>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
